/*selector body*/
body {
  background-color: #f5f7fa;
  font-family: "montserrat", sans-serif;
  max-width: 1200px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
}
@media (max-width: 767px) {
  body {
    max-width: 100%;
    width: 100%;
    min-width: 100%;

    overflow-x: hidden;
    background-color: #000000;
  }
}

p {
  color: #a8a8a8;
}

ol {
  padding: 0 0 0 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

li {
  word-wrap: break-word;
}
.color59 {
  color: #595959;
}

.colorWhite {
  color: #ffffff;
}

.colorA8 {
  color: #a8a8a8;
}

.liwhite {
  color: #9c8f8f;
}

.MAIN_DIV {
  display: flex;
  margin: 40px auto;
  margin-top: 0;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .MAIN_DIV {
    flex-direction: column-reverse;
    max-width: 100%;
    margin: 0 0;
  }
}

.content_div {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;

  width: 60%;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .content_div {
    padding: 10px 0px;
    display: flex;
    margin: 0 auto;
    overflow-x: hidden;

    max-width: 100%;
    width: 80%;
  }
}

.about_div {
  width: 100%;
}

.clamp-3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.my_contacts_aside {
  padding: 100px 90px;
  background-color: #1e2939;
  color: #ffffff;
}

.HintJS_h3 {
  min-height: 20px;
  padding: 10px;

  display: block;
}

.photo_div_container {
  width: 100%;
  object-fit: cover;
}

.photo_div {
  /*    display: flex; */
  max-width: 100%;
  height: auto;

  object-fit: cover;
  /*position:static;*/
  /*  box-sizing: inherit;*/
}

/*
sidebar
*/
.sidebar_section {
  padding: 40px 0;
  background-color: #1f2939;
  width: 40%;
  overflow: hidden;
  position: static;
}

/*contact section*/
.contact_div {
  margin: 50px 0 0 40px;
  position: relative;
}

.contact_section_type {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-right: 5px;
  position: relative;
}

.contact_section_link {
  color: #fb6d3a;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.skill_list {
  padding-left: 17px;
  color: #fb6d3a;
  position: relative;
}

.skill_list_text {
  color: #ffffff;
}

.skill_div {
  margin: 50px 0 0 40px;
}

.sidebar_h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin: 10px;
  width: 30%;
}

/* контент*/
.content_h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #a79a9a;
  margin: 0 0 10px 0;
}

.content_h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 10px 0;
}

.invisible {
  display: none !important;
}

.img_js {
  position: relative;
  margin-bottom: -15px;
  border-radius: 50%;
}

.img_js2 {
  /*position:sticky;*/
  /*display: flex; */
  margin-left: 0 px;
  margin-bottom: -25px;
  border-radius: 50%;
}

.content_h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 10px 0;
}

.content_h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}

.content_h4_orange {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.content_link {
  color: #a8a8a8;
  margin-left: 5px;
}

.project_div {
  display: block;
  position: relative;
  margin: 40px 0px;
}

.works_div {
  margin-bottom: 30px;
}

.about_p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 70%;
  height: auto;
}
@media (max-width: 767px) {
  .about_p {
    width: 100%;
  }
}

.gray {
  color: #595959;
  padding-right: 10px;
}

.orange {
  color: #fb6d3a;
}

.colorBlack {
  color: #000000;
}

.company_p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
  width: 525px;
}

.company_div {
  margin: 0 0 15px 0;
}

.company_list {
  padding: 0 0 0 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 160px;
  border-radius: 16px;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display: block;
}

@media (max-width: 767px) {
  .sidebar_section {
    width: 100%;
  }
}
